body {
  background-color: azure;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0099E6;
  color: white;
  text-align: center;
  }

  .form-control {
    width: 20%;
  }

  .container {
    position: relative;
    top: 150px;
    height: 100%;
    padding-bottom: 150px;
  }