.add-movie {
    position: absolute;
    width: 100%;
    top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('https://images.pexels.com/photos/412842/pexels-photo-412842.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center fixed;
    background-size: cover;
}

.add-movie>div:nth-child(1) {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(201, 199, 197);
    margin: 100px 0px;
    color: #333;
}