.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    top: 13px;
}


.custom-file-upload:hover {
    transform: scale(1.1);
    color: #174db1;
    cursor: pointer;
}

.cardz .addPic {
    position: relative;
    top: 22px;
}

input[type="file"] {
    display: none;
}

.containerX {
    display: inline-block;
    position: relative;
    width: 60%;
}

/* .containerX {
    width: 100%;
} */