.text-center {
    text-align: center;
}

.MuiCardMedia-media {
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.cardex {
    max-width: 70%;
    width: 70%;
    position: relative;
    top: 70px;
    display: inline-block;
    margin-bottom: 150px;
}