.MuiCardMedia-media {
    height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.cardex {
    max-width: 70%;
    width: 70%;
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-bottom: 150px;
}